# ==========================================
# GREENVILLE RP BOT — Zmienne środowiskowe
# Skopiuj ten plik jako .env i uzupełnij dane
# ==========================================

# --- Discord ---
DISCORD_TOKEN=MTQ4NzQ4MDkxMzkwOTUxNDMxMA.Gr2Vuk.QZpxF0X0J302jwY3K8sYUYapvrYY_XvPxieUyI
DISCORD_CLIENT_ID=1487480913909514310
DISCORD_CLIENT_SECRET=Oaex7-7R1h6VSLVhJKPcaolYvkluyyRK
DISCORD_GUILD_ID=1487482322742804610

# --- Roblox ---
ROBLOX_GROUP_ID=

# --- Baza danych (PostgreSQL) ---
DATABASE_URL=postgresql://user:password@host:5432/greenville_rp

# --- Dashboard (NextAuth) ---
NEXTAUTH_SECRET=
NEXTAUTH_URL=https://twojadomena.railway.app

# --- Komunikacja Bot <-> Dashboard ---
BOT_API_KEY=
BOT_API_URL=http://localhost:3001

# --- Radio (YouTube URL do RMF MAXX) ---
RADIO_URL=https://www.youtube.com/watch?v=9WIfFbHmhkI

# --- Środowisko ---
NODE_ENV=production
